#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <layout_shift_kp_override.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 8
#define SCROLL 9

// レイヤー定義

#define LY_US_DEFAULT              0
#define LY_US_NUM                  1
#define LY_US_SYMBOL_ARROW         2
#define LY_JIS_DEFAULT             3
#define LY_JIS_GAME_DEFAULT        4
#define LY_JIS_NUM                 5
#define LY_JIS_SYMBOL_ARROW        6
#define LY_FUNCTION                7
#define LY_MOUSE                   8
#define LY_SCROLL                  9
#define LY_BLUETOOTH               10

&lt {
    flavor = "tap-preferred";
    quick-tap-ms = <175>;
    tapping-term-ms = <200>;
};

&mt {
    flavor = "tap-preferred";
    quick-tap-ms = <175>;
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        bluetoothLayer {
            bindings = <&mo LY_BLUETOOTH>;
            key-positions = <0 1>;
        };

        layer4_ESC {
            bindings = <&lt 4 ESC>;
            key-positions = <39 38>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        us_default {
            bindings = <
&kp Q      &kp W         &kp E         &kp R               &kp T                                                                           &kp Y                      &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F               &kp G                                             &kp BACKSPACE                 &kp H                      &kp J  &kp K      &kp L    &kp MINUS
&kp Z      &kp X         &kp C         &kp V               &kp B                      &kp COLON              &lt LY_FUNCTION SEMICOLON     &kp N                      &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &lt LY_MOUSE LCTRL  &mt LEFT_SHIFT LANGUAGE_2  &lt LY_US_NUM SPACE    &lt LY_US_SYMBOL_ARROW ENTER  &mt LEFT_SHIFT LANGUAGE_1                             &kp UNDERSCORE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        us_num {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                      &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                 &kp DELETE     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F11       &trans        &trans        &trans        &trans        &kp LS(TAB)    &kp TAB        &kp ESCAPE    &trans        &trans        &trans        &kp F12
&trans        &trans        &trans        &trans        &trans        &trans         &kp LS(ENTER)  &trans                                                  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        us_symbol_arrow {
            bindings = <
&kp BACKSLASH  &kp CARET   &kp EXCLAMATION       &kp AMPERSAND     &kp PIPE                            &kp AT             &kp EQUAL        &kp PLUS               &kp ASTERISK     &kp PERCENT
&kp HASH       &kp DOLLAR  &kp DOUBLE_QUOTES     &kp SINGLE_QUOTE  &kp TILDE                   &trans  &kp LEFT_ARROW     &kp DOWN_ARROW   &kp UP_ARROW           &kp RIGHT_ARROW  &kp GRAVE
&trans         &trans      &kp LEFT_PARENTHESIS  &kp LEFT_BRACE    &kp LEFT_BRACKET  &trans    &trans  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &trans           &trans
&trans         &trans      &trans                &trans            &trans            &trans    &trans  &trans                                                                      &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        jis_default {
            bindings = <
&kp Q      &kp W         &kp E         &kp R               &kp T                                                                          &kp Y                   &kp U  &kp I      &kp O       &kp P
&kp A      &kp S         &kp D         &kp F               &kp G                                           &kp BACKSPACE                  &kp H                   &kp J  &kp K      &kp L       &kp MINUS
&kp Z      &kp X         &kp C         &kp V               &kp B                      &kp COLON               &lt LY_FUNCTION SEMICOLON      &kp N                      &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &lt LY_MOUSE LCTRL  &mt LEFT_SHIFT LANGUAGE_2  &lt LY_JIS_NUM SPACE    &lt LY_JIS_SYMBOL_ARROW ENTER  &mt LEFT_SHIFT LANGUAGE_1                                     &kp UNDERSCORE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        jis_game_default {
            bindings = <
&kp Q      &kp W         &kp E         &kp R                 &kp T                                                                  &kp Y                   &kp U  &kp I      &kp O       &kp P
&kp A      &kp S         &kp D         &kp F                 &kp G                                   &kp BACKSPACE                  &kp H                   &kp J  &kp K      &kp L       &kp MINUS
&kp Z      &kp X         &kp C         &kp V                 &kp B                      &kp COLON               &lt LY_FUNCTION SEMICOLON      &kp N                      &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &lt LY_JIS_NUM LCTRL  &mt LEFT_SHIFT LANGUAGE_2  &kp SPACE               &lt LY_JIS_SYMBOL_ARROW ENTER  &mt LEFT_SHIFT LANGUAGE_1                                     &kp UNDERSCORE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        jis_num {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                      &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                 &kp DELETE     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F11       &trans        &trans        &trans        &trans        &kp LS(TAB)    &kp TAB        &kp ESCAPE    &trans        &trans        &trans        &kp F12
&trans        &trans        &trans        &trans        &trans        &trans         &kp LS(ENTER)  &trans                                                  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        jis_symbol_arrow {
            bindings = <
&kp BACKSLASH  &kp CARET   &kp EXCLAMATION       &kp AMPERSAND     &kp PIPE                            &kp AT_SIGN        &kp EQUAL        &kp PLUS               &kp ASTERISK     &kp PERCENT
&kp HASH       &kp DOLLAR  &kp DOUBLE_QUOTES     &kp SINGLE_QUOTE  &kp TILDE                   &trans  &kp LEFT_ARROW     &kp DOWN_ARROW   &kp UP_ARROW           &kp RIGHT_ARROW  &kp GRAVE
&trans         &trans      &kp LEFT_PARENTHESIS  &kp LEFT_BRACE    &kp LEFT_BRACKET  &trans    &trans  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &trans           &trans
&trans         &trans      &trans                &trans            &trans            &trans    &trans  &trans                                                                      &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        function {
            bindings = <
&trans  &trans  &trans  &trans         &trans                               &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LA(SPACE)  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans         &trans  &trans               &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans         &trans  &kp LA(LC(SPACE))    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        mouse {
            bindings = <
&trans         &trans  &trans    &mkp MB2  &mkp MB3                    &trans  &trans    &trans    &trans    &trans
&mo LY_SCROLL  &trans  &mkp MB4  &mkp MB5  &mkp MB1            &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans         &trans  &trans    &trans    &trans    &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans         &trans  &trans    &trans    &trans    &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &bt BT_SEL 0             &bt BT_SEL 1       &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans            &trans       &to LY_JIS_DEFAULT       &to LY_US_DEFAULT  &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bootloader  &to LY_JIS_GAME_DEFAULT  &trans             &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
